/* Media Query pour les écrans de largeur maximale de 25799 pixels (à revoir) */
@media screen and (max-width: 25799px) {
    /* Réinitialisation des marges et rembourrages pour les éléments de base */
    * {
        margin: 0;
        padding: 0;
    }

    /* Styles du corps de la page */
    body {
        font-family: Arial, sans-serif;
        background-color: #840707;
        color: #333;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    /* Styles de l'en-tête (header) */
    header {
        background-color: #2e6da4;
        color: #fff;
        text-align: center;
        padding: 22px 0;
        position: sticky;
        width: 100%;
    }

    /* Style du titre h1 dans l'en-tête */
    header h1 {
        font-size: 36px;
        margin: 0;
    }

    /* Styles de la navigation */
    li {
        top: 2.8vh;
    }

    /* Styles des éléments de la liste de navigation */
    nav ul li {
        display: inline;
        position: relative;
        width: 100%; /* Définissez la largeur à 100% pour que les éléments soient empilés verticalement */
    }

    /* Styles des liens de navigation */
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin-right: 50px;
    }



/* Styles du sous-menu */
.sous-menu {
    display: none;
    position: absolute;
    top: 1.9vh;
    left: 0;
    background-color: #d01717;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Affichage du sous-menu au survol de l'élément de navigation parent */
nav ul li:hover .sous-menu {
    display: block;
}

nav ul li ul.sous-menu li {
    display: inline; /* Affiche les éléments en ligne */
    margin-right: 10px; /* Marge entre les éléments */
}

nav ul li ul.sous-menu li a {
    text-decoration: none;
    color: #a28481;
    padding: 5px; /* Ajout de la marge interne pour l'espacement */
}


  

    /* Styles des sous-sous-menus */
    .sous-sous {
        display: none;
        position: absolute;
        background-color: #784b4b;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 100%; /* Affichage sous le menu parent */
        left: 100%; /* Alignement avec le bord gauche du menu parent */
    }

    /* Affichage du sous-sous-menu au survol du sous-menu parent */
    .sous-menu:hover .sous-sous {
        display: block;
    }

    /* Styles du footer */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        background-color: #2e6da4;
        color: #fff;
        margin: 0;
    }

    /* Styles des liens dans le footer */
    footer a {
        color: #fff;
        text-decoration: none;
    }

    /* Style au survol des liens */
    a:hover {
        text-decoration: underline;
        color: greenyellow;
    }
}

