body{background-color: black;
margin: 0;
padding: 0;}

#poeme{display: flex;
    color:red;
border: violet 2px solid;
padding: 10px;

text-align: left;
top: 25vh;}
p{font-family:'Esteban', serif;}

img{display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    left: 100;
}